<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>입력양식</h1>
    <form action="/person">
        <label for="name">이름 : </label>
        <input type="text" id="name" name="name" placeholder="이름을 입력해주세요"><br>
        <label for="age">나이 : </label>
        <input type="number" id="age" name="age" placeholder="나이를 입력해주세요"><br>
        <button>확인</button>
    </form>
</body>
</html>