<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>입력양식</h1>
    <form action="/body" target="myi">
        <label for="key">키 : </label>
        <input type="number" id="key" name="key"><br>
        <label for="body">몸무게 : </label>
        <input type="number" id="body" name="body"><br>
        <button>확인</button>
    </form>
    <iframe name="myi" width="100%" height="500" frameborder="0"></iframe>
</body>
</html>