<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>입력양식</h1>
    <form action="/sum" target="myi2">
        <label for="number1">n1 : </label>
        <input type="number" id="number1" name="number1"><br>
        <label for="number2">n2 : </label>
        <input type="number" id="number2" name="number2"><br>
        <button>확인</button>
    </form>
    <iframe name="myi2" width="100%" height="500px" frameborder="0"></iframe>
</body>
</html>